*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  list-style: none;
  font-family: Menlo, Monaco, Lucida Console, monospace, serif;
  font-size: 16px;
}
body{
  background-color: #eee;
}
#layout{
  display: grid;
  grid-template-columns: minmax(200px, 688px);
  justify-content: center;
  padding: 0.4rem .4rem;
  grid-gap: .4rem;
  animation: enter .2s ease-in-out;
  color: #222;
}
.title {
  font-size: large;
}
.content {
  margin-left: .4rem;
  padding: .4rem;
  border-left: 4px solid #ccc;
}
.content > li {
  padding: .1rem 0;
}
.links-block {
  display: flex;
  align-items: center;
}
.links-text {
  padding-left: .4rem;
}
.logo{
  display: inline-block;
  max-width: 1.2rem;
  color: blue;
}
@keyframes enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
