*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #222;
  list-style: none;
  font-family: Menlo, Monaco, Lucida Console, monospace, serif;
  font-size: 16px;
}
body{
  background-color: #eee;
}
#layout{
  display: grid;
  grid-template-columns: minmax(200px, 688px);
  justify-content: center;
  padding: 0 .4rem;
  grid-gap: .4rem;
}
#page_header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ddd;
  padding: .4rem 0;
  background-color: #eee;
  z-index: 1000;
  align-items: center;
  box-shadow: 0px 6px 13px 8px #eee;
}
.thousand-title{padding-top: 1rem;}
#thousand{
  text-align: justify;
  animation: enter 300ms cubic-bezier(0, .5, .5, 1);
}
#header_links{text-align: right;}
#header_links a{color: #1f71f4; background-color: #222; color: #eee;}
@keyframes fadeIn {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes enter {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
